.nav-main ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.nav-main ul a{
    display: flex;
    align-items: center;
    text-decoration: none;
    background-color: white;
    padding: 2rem;
    cursor: pointer;
}

.nav-main ul a:hover{
    background-color: black;
    color: white;
}

.form-container{
    display: flex;
    justify-content: center;
    text-align: center;
}

.form-container form{
    padding: 1rem;
    border-radius: 12px;
    border: 3px solid rgba(0, 0, 240, 0.5); 
}

.form-container form textarea{
    height: 200px;
    width: 500px;
}

.form-container form button:enabled, button:focus, textarea:focus, textarea:enabled, input:focus, input:enabled{
    border: 3px solid rgba(0, 0, 240, 0.5);
}

.form-container form input, button, textarea {
    margin: .5rem;
    padding: .5rem;
}

.posts-grid{
    background-color: rgba(0, 0, 240, 0.5);
    padding: 1rem;
    display: flexbox;
    justify-content: center;
    margin: .5rem;
}

.post-cointainer{
    border-radius: 8px;
    padding: 1rem;
    margin: .5rem 25%;
    border: 5px solid rgba(0, 0, 240, 0.5);
    width: 50%;
    background-color: rgba(255, 255, 255, 0.7);
}

/* remove button & input normal style */

.buttton-normal{
   border:none;
   background-color:transparent;
   outline:none;
}

.input-normal{
   border:none;
   background-color:transparent;
   outline:none;
}


